@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-balance-all {
    text-wrap: balance-all;
  }

  .text-clip {
    text-wrap: clip;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .social-icon {
    @apply bg-black bg-opacity-50 p-2 rounded-full transition-all scale-100 hover:scale-110;
  }

  .card-hover {
    @apply transition hover:bg-slate-700 hover:-translate-x-2;
  }

  .gradient-bg {
    background-image: linear-gradient(to right, #2a2b2d, #040b1d);
  }

  .header-footer-bg {
    @apply bg-black text-white shadow-md sticky top-0 z-50;
  }

  .centered-flex {
    @apply flex justify-center items-center;
  }

  .page-container {
    @apply desktop:px-20 min-h-screen text-white pt-24 px-6;
  }
}

* {
  scroll-behavior: smooth !important;
}

/* Extended parts */
html {
  scroll-behavior: smooth;
}